@CHARSET "UTF-8";
fieldset.adminform label {
	width: 200px;
}

table.progressbar {
	table-layout: fixed;
	width: 100%;
}

table.progressbar td.progress {
	padding: 2px;
	border: 1px solid #c0c0c0;
}

table.progressbar td.progress.done {
	background-color: green;
}

table.progressbar td.progress.todo {
	background-color: none;
}

div.chapterhelp {
	border: 1px solid #C0C0C0;
    margin: 10px;
    padding: 5px;
}

table#publicsystem {
	border-collapse: collapse;
}

table#publicsystem col.col1 {
	width: 40%;
}

#publicsystem tr, #publicsystem td, #publicsystem th {
	border: 1px solid #333333;
}

#publicsystem tr.level1 {
	background-color: #c0c0c0;
}

#publicsystem tr.level2 {
	background-color: #e0e0e0;
}

#publicsystem th {
	padding: 2px 1em;
	text-align: left;
}

#publicsystem td {
	padding: 2px 2em;
	text-align: left;
}

table.systemdata {
	table-layout: auto;
	width: 100%;
}

table.systemdata tr, table.systemdata th {
	width: 200px;
}

table.systemdata tr, table.systemdata th, table.systemdata td {
	border: none;
	padding: 0 5px;
}

table.systemdata td input.width100, table.systemdata td textarea.width100 {
	width: 100%;
}

table.systemdata td input, table.systemdata th label {
	font-size: 1em !important;
}